*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.container {    
    background-color:  #D5E1EF;
    display:flex;        
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.qr-container{
    background: #FFFFFF;
    box-shadow: 0px 25px 25px rgba(0, 0, 0, 0.0476518);
    border-radius: 20px;
    height: auto;
    width:293px;
    text-align: center;
}

.qr-image{
    background-color: #2C7DFA;
    position: relative;
    width: 90%;
    height: 261px;
    top: 2%;
    left: 5%;
    border-radius: 10px;
    margin-bottom: 30px;
}

img {
    position: absolute;
    top: 54px;
    right: 23%;
    width: 53%;
}

.oval-right{
    width: 52%;
    height: 130px;
    /* border-top-right-radius: 50px 100px; */
    border-radius: 9px 0px 146px 0px;
    background: #3685FF;
}

.oval-left{
    width: 52%;
    height: 130px;
    /* border-top-right-radius: 50px 100px; */
    border-radius: 140px 0px 9px 0px;
    background: #3685FF;
    display:block;
    margin-left: auto;
  
}

